ul {
    display: flex;
    margin: 0;
    padding: 0;
    flex-flow: row nowrap;
    justify-content: space-around;
}

ul li {
    list-style-type: none;
    flex-basis: 10px;
    /* border: red 5px solid; */
}


ul li a {
    text-decoration: none;
}
